body {
    font-family: 'Montserrat', sans-serif;
    background-color: $background-color-1;
}

blockquote {
    margin: auto auto;
    flex: 0 0 0 100%;
}

button {
    background: darken($background-color-1, 30%);
    border: none;
    padding: 10px;
    outline: none;
    border-radius: 4px;
    transition: 0.3s ease;

    &:hover {
        cursor: pointer;
        background: darken($background-color-1, 10%)
    }
}

.container {
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    box-sizing: border-box;
    }


