:root {
    --background-color: hsl(208, 72%, 53%);
    --background-color-13: hsl(208, 72%, 40%);
    --background-color-10: hsl(208, 72%, 43%);
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: $background-color-1;
    background-color: var(--background-color);
    padding: 5%;
    color: $main-font-color;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;
}

main {
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    border: none;
    padding: 10px;
    outline: none;
    border-radius: 4px;
    transition: 0.2s ease;
}

#quote {
    font-size: 2.6em;
    flex: 0 0 100%;
    text-align: center;
}

#quote p::before {
    content: '“';
    margin-right: 0.2em;
}

#quote p::after {
    content: '”';
    margin-left: 0.2em;
}

#author {
    color: $author-font-color;
    flex: 0 0 100%;
    text-align: right;
    margin-bottom: 2em;
}

#author::before {
  content: '—';
  margin-right: 0.3em;
}

#quote-generator {
    @extend button;
    background-color: darken($background-color-1, 20%);
    background-color: var(--background-color-10);
    color: $background-color-1;
    color: var(--background-color);
    color: $button-font-color;
    font-size: 1.4em;
    letter-spacing: 0.05em;
    flex: 0 0 60%;
    margin: 0 0 2em 20%;

    &:hover {
        cursor: pointer;
        background: darken($background-color-1, 17%);
        background: var(--background-color-13);
    }
}

#twitter {
    opacity: 0.6;
    flex: 0 0 10%;
    margin-left: 10%;
    align-self: flex-start;
    max-height: 50px;
    max-width: 50px;
    background: url("https://user-images.githubusercontent.com/28717999/28549259-d747ec26-70a6-11e7-924e-fa843831204c.png") center/cover no-repeat;
    transition: ease 0.2s;
    filter: grayscale(100%);

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

#twitter img {
    visibility: hidden;
}

