@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins');

//Colors
$background-color-1: #318DDD;
$background-color-2: #3AE450;
$background-color-3: #A730CF;
$background-color-4: #32CDC8;
$background-color-5: #B33ABB;
$background-color-6: #C9E723;
$main-font-color: #808080;
$author-font-color: #808080;
$button-font-color: #808080;

//Fonts
$main-font: Montserrat;
$button-font: sans-serif;
$author-font: sans-serif;
